<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Employees</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <header class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Delete Employees</h1>
                    
                </div>
            </div>
        </div>
    </header>
    <main class="container mt-4">
       
            <section id="orders" class="mt-4">
                <h2>Employees</h2>
                {% if employees and employees.length >0 %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>  
                            <th scope="col"></th>                               
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in employees %}
                        
                        <tr>
                            <td>{{ employee.name }}</td>
                            <td>
                                <form action="/delete-delivery-employee/{{ employee.employee_id }}" method="post">
                                    <input type="hidden" step="any" id="employee.employee_id" name="employee.employee_id" class="form-control" value="{{ employee.employee_id }}" required>
                                    <button type="submit" class="btn btn-danger" value="{{ employee.employee_id }}" >Delete</button>
                                </form>
                            </td>
                            
                          
                        </tr>
                        {% endfor %}
                    </tbody>
            
                </table>
                {% else %}
                There are no orders.
                {% endif %}
            </section>
    </main>
</body>
</html>